li.media.bottom-space
  .media-left
    a(href="/#users/" + comment.author.id)
      img.img-circle.media-object(src=comment.author.gravatar + "?s=40&d=mm")
  .media-body
    .media-heading
      a(href="/#users/" + comment.author.id)= comment.author.name
      |&nbsp;
      span.hidden-xs.hidden-sm= comment.date.text
      |&nbsp;
      span(title=comment.date.text)= "(" + comment.date.fromNow + ")"
    = comment.text