.btn-toolbar.top-space
  a.btn.btn-success#newTaskCategorySchema= t('task_stock.task_category_schemas_page.new_schema')

.block.top-space
  .title= t('task_stock.task_category_schemas_page.schemas')
  .content.no-border