table.table.table-striped.table-hover
  each attachment in attachments
    tr(data-id=attachment.id)
      td
        a(href=attachment.path)= attachment.name
      td
        = attachment.size
      td.hidden-xs
        = attachment.date
      td.text-right
        .btn.btn-default.btn-xs.delete
          .glyphicon.glyphicon-trash
          |&nbsp
          = t('Delete')
