div.row-fluid
  div.col-md-2
    .block.top-space
      .title= t('Categories')
      .content#tasks-category-select
  div.col-md-10
    .block.top-space
      .title= t('Tasks')
      .content#tasks-list

