each task in tasks
  .media
    .media-body
      h4.media-heading
        a(href="/#tasks/" + task.get('id'))= task.get('name')
      .label.label-info= task.get('date')
      if (task.get('category'))
        | 
        .label.label-success= task.get('category').name
      p= task.get('description')
.pagination-wrap
